:root {
    --gap: 15px;
}
.page {
    width: 78%;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 1%;
    background-color: aqua;
    color: var(--primary-color); 
}
.page h1 {
    display: none;
}
.navGrid {
    padding: var(--gap);
    display: grid;
    height: auto;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.navIcon {
    background-color: azure;
    border: solid 2px red;
    min-height: 50px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.5s;   
}
.navIcon:hover {
    background-size: 140%;
    border-radius: 20px;
    transition: all 0.5s;
}
#homeGrid { 
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, 120px);
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap);
}
#homeIcon {
    grid-area: 1 / 1 / 5 / 5;
    background-image: url(../IMG/home-icon.png);
}
#ontmoetIcon {
    grid-area: 1 / 5 / 4 / 7;
    background-image: url(../IMG/ontmoet-icon.png);
}
#fokusIcon {
    grid-area: 1 / 7 / 3 / 10;
    background-image: url(../IMG/fokus-icon.png);
}
#boomIcon  {
    grid-area: 5 / 1 / 7 / 5;
    background-image: url(../IMG/boom-icon.png);
}
#ontspanIcon {
    grid-area: 4 / 5 / 7 / 7;
    background-image: url(../IMG/ontspan-icon.png);
}
#koopIcon {
    grid-area: 5 / 7 / 7 / 10;
    background-image: url(../IMG/koop-icon.png);    
}
#leerIcon {
    grid-area: 3 / 7 / 5 / 10;
    background-image: url(../IMG/leer-icon.png);
}