:root {
    --gap: 15px;
}
.page {
    width: 78%;
    height: fit-content;
    margin: 1% auto;
    background-color: aqua;
    color: var(--primary-color); 
}
.page h1 {
    display: none;
}
.navGrid {
    padding: var(--gap);
    display: grid;
    height: auto;    
}
.navIcon {
    /* aspect-ratio: 2; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-bottom: solid 0 red;
    border-right: solid 0 red; */
    transition: all 0.5s;   
}
.resize:hover {
    /* background-size: 120%; */
    border-radius: 20px;
    /* border-bottom: solid 4px red;
    border-right: solid 4px red; */
    transition: all 0.5s;
    cursor: pointer;

    box-shadow: 5px 5px 5px 5px rgba(0, 9, 88, 0.589);
    
}
/* Image Ratios */
.r4-4 {
    aspect-ratio: calc(4/4);
}
.r4-2 {
    aspect-ratio: calc(4/2);
}
.r2-3 {
    aspect-ratio: calc(2/3);
}
.r3-2 {
    aspect-ratio: calc(3/2);
}
.r2-3 {
    aspect-ratio: calc(2/3);
}


/* Home Page */

#homeGrid { 
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(6, fit-content);
    /* grid-auto-rows: 1fr; */
    grid-column-gap: var(--gap);
    grid-row-gap: var(--gap);
}
#homeIcon {
    grid-area: 1 / 1 / 5 / 5;
    background-image: url(../IMG/logo-trans-back.png);
    background-size: contain !important;
}
#ontmoetIcon {
    grid-area: 1 / 5 / 4 / 7;
    background-image: url(../IMG/ontmoet-icon.png);
}
#fokusIcon {
    grid-area: 1 / 7 / 3 / 10;
    background-image: url(../IMG/fokus-icon.png);
}
#boomIcon  {
    grid-area: 5 / 1 / 7 / 5;
    background-image: url(../IMG/boom-icon.png);
    background-size: contain !important;
}
#ontspanIcon {
    grid-area: 4 / 5 / 7 / 7;
    background-image: url(../IMG/ontspan-icon.png);
}
#koopIcon {
    grid-area: 5 / 7 / 7 / 10;
    background-image: url(../IMG/koop-icon.png);    
}
#leerIcon {
    grid-area: 3 / 7 / 5 / 10;
    background-image: url(../IMG/leer-icon.png);
}
