:root {
    --bg-primary: #000000;
    --bg-secondary: #1a1a1a;
    --text-primary: #ffffff;
    --text-secondary: #cccccc;
    --accent: #0066cc;
    --accent-hover: #0052a3;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-primary);
    color: var(--text-primary);
    width: 100%;
}

section {
    width: 100%;
}

.card {
    border-radius: 12px;
    background-color: #e100ff;
    color: rgb(116, 255, 250);
}