html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 100vh;
}

body {
    height: 100%;
}

main section {
    scroll-snap-align: start;
    min-height: 100vh;
}
